<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<!-- APPENDER 1: CONSOLE -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<!-- APPENDER 2: ROLLING FILE -->
		<RollingFile name="Rolling"
			fileName="DBShrinkLogs\\DBShrink.log"
			filePattern="DBShrinkLogs\\$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>
		<!-- APPENDER 3: ROUTING APPENDER -->
		<Routing name="Routing">
			<Routes pattern="${ctx:stackOverFlow}">
				<!-- Route Nr.1 -->
				<Route>
					<!-- Rolling file appender for route Nr.1 -->
					<RollingFile name="NestedAppender-${ctx:stackOverFlow}"
						fileName="DBShrinkLogs\\current_threadContext_${ctx:stackOverFlow}.log"
						filePattern="DBShrinkLogs\\current\\$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
						<PatternLayout>
							<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy />
							<SizeBasedTriggeringPolicy size="10 MB" />
						</Policies>
					</RollingFile>
				</Route>
				<!-- Route Nr.2 fallback -->
				<!-- By having this set to ${ctx:filename} it will match when filename 
					is not set in the context -->
				<Route ref="Console" key="${ctx:stackOverFlow}" />
			</Routes>
		</Routing>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Rolling" />
			<AppenderRef ref="Routing" />
		</Root>
	</Loggers>
</Configuration>